<footer class="footer">
    <div class="Belfast-contact">
        <h2>Belfast</h2>
        <p>4-6 Upper Cres</p>
        <p>Belfast</p>
        <p>Phone: 028 9057 1100</p>
    </div>

    <div class="Derry-contact">
        <h2>Derry</h2>
        <p>5th Floor Timber Quay</p>
        <p>Strand Road</p>
        <p>Phone: +44 28 9057 1100</p>
    </div>

    <div class="Birmingham-contact">
        <h2>Birmingham</h2>
        <p>5th Floor Cornerblock</p>
        <p>2 Cornwall St.</p>
        <p>Phone: ++44 28 9057 1100</p>
    </div>
    
    <div class="Gdansk-contact">
        <h2>Gdansk</h2>
        <p>8th Floor</p>
        <p>Tryton Business House</p>
        <p>Phone: +48 58 882 66 80</p>
    </div>

    <div class="footer-title">
    <img class="card-img-top"
                    src="./images/kainosLogo2.png" alt="kainosLogo" style="width:100px;" >
    </div>
</footer>