<footer class="footer">
    <div class="contact Belfast-contact">
        <h4>Belfast</h4>
        <p>4-6 Upper Cres</p>
        <p>Belfast</p>
        <p>Phone: 028 9057 1100</p>
    </div>
    <div class="contact Derry-contact">
        <h4>Derry</h4>
        <p>5th Floor Timber Quay</p>
        <p>Strand Road</p>
        <p>Phone: +44 28 9057 1100</p>
    </div>
    <div class="footer-title">
        <img class="card-img-top"
                        src="../images/kainosLogo2.png" alt="Logo" style="width:100px;" >
    </div>
    <div class="contact Birmingham-contact">
        <h4>Birmingham</h4>
        <p>5th Floor Cornerblock</p>
        <p>2 Cornwall St.</p>
        <p>Phone: ++44 28 9057 1100</p>
    </div>
    <div class="contact Gdansk-contact">
        <h4>Gdansk</h4>
        <p>8th Floor</p>
        <p>Tryton Business House</p>
        <p>Phone: +48 58 882 66 80</p>
    </div>
</footer>

