<head>
    <title>Kainos</title>
    <link rel="icon" href="./images/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"  href="./stylesheets/style.css"/>  
</head>
    <nav class="navbar">
        <a href="#home">
            <img src="./images/kainosLogo2.png" alt="Logo" class="logo" >
        </a>
        <ul>
            
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="div.nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-search"></span></a>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-align-justify"></span></a>
                <a class="navbar-brand" href="#"><span></span></a>
              
            </div>
            <div class="collapse navbar-collapse" id="div.nav">
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-8 text-center">
                <div class="col-md-6">
                    <div class="card" >
                        <div class="card-body">
                            <img class="card-img-top"
                                src="./images/embraceTheFuture.png" alt="Logo" >
                            <h3 class="h3"> Together we write our story...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer">
        <div class="Belfast-contact">
            <h4>Belfast</h4>
            <p>4-6 Upper Cres</p>
            <p>Belfast</p>
            <p>Phone: 028 9057 1100</p>
        </div>
        <div class="Belfast-contact">
            <h4>Derry</h4>
            <p>5th Floor Timber Quay</p>
            <p>Strand Road</p>
            <p>Phone: +44 28 9057 1100</p>
        </div>
        <div class="Birmingham-contact">
            <h4>Birmingham</h4>
            <p>5th Floor Cornerblock</p>
            <p>2 Cornwall St.</p>
            <p>Phone: ++44 28 9057 1100</p>
        </div>
        <div class="Gdansk-contact">
            <h4>Gdansk</h4>
            <p>8th Floor</p>
            <p>Tryton Business House</p>
            <p>Phone: +48 58 882 66 80</p>
        </div>
    
        <div class="footer-title">
        <img class="card-img-top"
                        src="./images/kainosLogo2.png" alt="Logo" style="width:100px;" >
        </div>
    </footer>