<nav class="navbar">
    <a href="#home">
        <img src="../images/kainosLogo2.png" alt="Logo" class="logo" >
    </a>
    <ul>

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="div.nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:3000/homepage"><span
                        class="glyphicon glyphicon-home"></span>Home</a>
                        <a class="navbar-brand" id="logoutButton" href="http://localhost:3000/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
                        <a class="navbar-brand" href="http://localhost:3000/openJobRoles"><span
                <a class="navbar-brand" href="http://localhost:3000/openJobRoles"><span
                        class="glyphicon glyphicon-list-alt"></span> Open Job Roles</a>
            </div>
        <div class="collapse navbar-collapse" id="div.nav">
    </ul>
    </div>
    </div>
</nav>