<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "links.html" %}
    </head>
<body class="body">
    {% include "heading.html" %}

    <h1 id="homepage">Welcome</h1>

    <div id="container-fluid " class="home-container-fluid">
        <img id="imageFuture" class="image" src="../images/embraceTheFuture.png" alt="logo" class="KainosLogo" >
        <h3 id= "heading" class="we-write-our-story"> Together we write our story...</h3>
    </div>
    
    {% include "footer.html" %}
</body>
</html>