<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "links.html" %}
    <title>Job Role: {{ openJobRole.jobRoleName }}</title>
</head>
<body>
    {% include "heading.html" %}
    <h1 id="heading1">{{ openJobRole.jobRoleName }}</h1>

    <ul id="jr-list" class="li">
        <li id="jr-name"><b>Job Role Name:</b> {{ openJobRole.jobRoleName }}</li>
        <li id="jr-desc"><b>Job Description:</b> {{ openJobRole.jobRoleSpecification.jobRoleDescription }}</li>
        <li id="jr-resp"><b>Job Responsibilities:</b> {{ openJobRole.jobRoleSpecification.jobRoleResponsibilities }}</li>
        <li id="jr-url"><a href="{{ openJobRole.jobRoleSpecification.jobRoleSpecUrl }}" target="_blank"><b>Job Specification Link</b> </a></li>
        <li id="jr-location"><b>Job Location:</b> {{ openJobRole.jobRoleLocation }}</li>
        <li id="jr-cap"><b>Job Capability:</b> {{ openJobRole.jobRoleCapability }}</li>
        <li id="jr-band"><b>Job Band:</b> {{ openJobRole.jobRoleBand }}</li>
        <li id="jr-dt"><b>Job Closing Date:</b> {{ openJobRole.jobRoleClosingDate | date }}</li>
    </ul>
    {% include "footer.html" %}
</body>
</html>