<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "links.html" %}
    <title>Open Job Role List</title>
</head>
<body>
    {% include "heading.html" %}
    <h1>Open Job Roles</h1>
    <table class="table">
        <tr>
            <th>Job Role Name</th>
            <th>Job Role Location</th>
            <th>Job Role Capability</th>
            <th>Job Role Band</th>
            <th>Job Role Closing Date</th>
        </tr>
        {% for openJobRole in openJobRoles %}
            <tr>
                <td><a href="/openJobRoles/{{openJobRole.jobRoleID}}" target="_blank">{{ openJobRole.jobRoleName }}</a></td>
                <td>{{ openJobRole.jobRoleLocation }}</td>
                <td>{{ openJobRole.jobRoleCapability }}</td>
                <td>{{ openJobRole.jobRoleBand }}</td>
                <td>{{ openJobRole.jobRoleClosingDate | date }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "footer.html" %}
</body>
</html>