<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "links.html" %}
    <title id="title">Job Role: {{ openJobRole.jobRoleName }}</title>
</head>
<body>
    {% include "heading.html" %}
    <h1 id="heading1">{{ openJobRole.jobRoleName }}</h1>

    <ul id="list" class="li">
        <li id="name">Job Role Name: {{ openJobRole.jobRoleName }}</li>
        <li id="desc">Job Description: {{ openJobRole.jobRoleDescription }}</li>
        <li id="resp">Job Responsibilities: {{ openJobRole.jobRoleResponsibilities }}</li>
        <li id="url"><a href="{{ openJobRole.jobRoleSpecUrl }}">Job Specification</a></li>
        <li id="location">Job Location: {{ openJobRole.jobRoleLocation }}</li>
        <li id="cap">Job Capability: {{ openJobRole.jobRoleCapability }}</li>
        <li id="band">Job Band: {{ openJobRole.jobRoleBand }}</li>
        <li id="dt">Job Closing Date: {{ openJobRole.jobRoleClosingDate }}</li>
    </ul>
    {% include "footer.html" %}
</body>
</html>