<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "links.html" %}
    <title>Open Job Role List</title>
    
  
</head>
<body>
    <div id="heading-link-div"> {% include "heading.html" %} </div>
    <h1 id="open-job-roles-header">Open Job Roles</h1>
    <table id="role-table" class="table">
        <tr id="table-rows">
            <th id="job-role-name-column" onclick= {{ clickName }} > Job Role Name</th>
            <th id="job-role-location">Job Role Location</th>
            <th id="job-role-capability">Job Role Capability</th>
            <th id="job-role-band">Job Role Band</th>
            <th id="job-role-closing-date">Job Role Closing Date</th>
        </tr>
        {% for openJobRole in openJobRoles %}
            <tr id="table-rows-2">
                <td id="td-role-name"><a href="/openJobRoles/{{openJobRole.jobRoleID}}" target="_blank">{{ openJobRole.jobRoleName }}</a></td>
                <td id="td-role-loction">{{ openJobRole.jobRoleLocation }}</td>
                <td id="td-role-capability">{{ openJobRole.jobRoleCapability }}</td>
                <td id="td-role-band">{{ openJobRole.jobRoleBand }}</td>
                <td id="td-role-closing-date">{{ openJobRole.jobRoleClosingDate | date }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "footer.html" %}
</body>
</html>
<script> 
    let numberClicked =  1;
    const Order = require('../src/models/Order');
    columnName = document.getElementById('job-role-name-column');
    columnName.addEventListener('click', function() {
        switch(numberClicked) {
                case 1: 
                     console.log("button clicked");
                     numberClicked ++; 
                     break;
                
                case 2: 
                    console.log("button clicked twice");
                    numberClicked ++;
                    break;
                
                case 3: 
                    console.log("button clicked three times");  
                    numberClicked = 1;
                    break;
            }
    });
        
</script>
