<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "links.html" %}
    <title>Open Job Role List</title>
</head>
<body>
    <div id="heading-link-div"> {% include "heading.html" %} </div>
    <h1 id="open-job-roles-header">Open Job Roles</h1>
    <table id="role-table" class="table">
        <tr class="table-rows" id="table-rows">
            <th id="job-role-name">Job Role Name</th>
            <th id="job-role-location">Job Role Location</th>
            <th id="job-role-capability">Job Role Capability</th>
            <th id="job-role-band">Job Role Band</th>
            <th id="job-role-closing-date">Job Role Closing Date</th>
        </tr>
        {% for openJobRole in openJobRoles %}
            <tr id="table-rows-2" id="table-rows-2">
                <td id="td-role-name-{{loop.index}}"><a id="a-role-name-{{loop.index}}" href="/openJobRoles/{{openJobRole.jobRoleID}}" target="_blank">{{ openJobRole.jobRoleName }}</a></td>
                <td id="td-role-loction-{{loop.index}}">{{ openJobRole.jobRoleLocation }}</td>
                <td id="td-role-capability-{{loop.index}}">{{ openJobRole.jobRoleCapability }}</td>
                <td id="td-role-band-{{loop.index}}">{{ openJobRole.jobRoleBand }}</td>
                <td id="td-role-closing-date-{{loop.index}}">{{ openJobRole.jobRoleClosingDate | date }}</td>
                {% if openJobRole.numOpenPos > 0 %}
                    <td id="td-role-open-pos-{{loop.index}}"><a id="td-role-open-pos-button-{{loop.index}}" href="/openJobRoles/apply/{{openJobRole.jobRoleID}}"><button id="openApplicationButton" value="{{ openJobRole.jobRoleID }}">Apply</button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <div class="footer-div"> {% include "footer.html" %} </div>
</body>
</html>