
 body {
  background-image: url(images/Kainos-Teams-4.jpg);
  color: #252d4f;
  font-family: "Galano Grotesque";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 2.4rem;
  min-width: 320px;
}
header {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   h1 {
    color: rgb(40,53,131);
    font-family: "Galano Grotesque";
    margin: 0;
   }

   h3 {
    color: rgb(40,53,131);
    font-family: "Galano Grotesque";
    margin: 0;
   }

   nav ul {
    list-style: none;
    display: flex;
    margin: 0;
   }

   nav li {
    margin: 0 10 px;
   }

   nav a {
    color: (40,53,131);
    text-decoration: none;
   }

   main {
    padding: 20px
   }

   section {
    margin-bottom: 50px;
   }

   section h2 {
    margin-top: 0;
   }

   ul {
    list-style: none;
    margin: 0;
    padding: 0;
   }

   footer {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: center;
   }

   form {
    background-color: #d3d3d3; 
    padding: 20px;
    border-radius: 5px;
   }
 
   form label {
    display: block;
    margin-top: 10px;
   }
 
   form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }

   button {
    background-color: rgb(0, 136, 255);
    border: none;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
   }

  

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    div.nav {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Modify the background color */
    div.nav {
    background-color: rgb(40, 53, 131);
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: rgb(170, 34, 34);
      padding: 15px;
      position: fixed;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      color: rgb(40,53,131);
      font-family: "Galano Grotesque";

    }
