/* Main navbar styling */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    font-family: "Galano Grotesque";
    color: rgb(87, 87, 86);
    border: 2px solid rgb(40, 53, 131);
}

.navbar a:hover {
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 5px;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar-header {
    display: flex;
    padding-left: 50vw;
}

.navbar-header a {
    margin-left: 1rem;
}

.login-header {
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

body {
    font-family: "Galano Grotesque";
    height: 100%;
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.4rem;
    margin: 0;
    color: rgb(80, 93, 164);
}

body :hover {
    text-decoration: none;
}

.login-div {
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    z-index: 1;
}

.login-form{
    text-align: center;
}

.background-div {
    width: 350px;
    height: 450px;
    background-image: url(/images/loginFormImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 53, 131);
    font-family: "Galano Grotesque";
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    height: 160px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.Belfast-contact,
.Gdansk-contact,
.Birmingham-contact,
.Derry-contact {
    display: inline-block;
    padding: 0 50px;
}

.Belfast-contact {
    padding-left: 50px;
    padding-right: 150px;
    float: left;
}

.Derry-contact {
    padding-right: 150px;
    float: left;
}

.Birmingham-contact {
    padding-left: 150px;
    float: right;
}

.Gdansk-contact {
    padding-left: 150px;
    padding-right: 50px;
    float: right;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
 }

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-header {
        flex-direction: column;
    }

    .navbar-header a {
        margin-left: 0;
        margin-top: 10px;
    }

    .container-fluid {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .contact {
        padding: 10px 0;
    }

    .footer-title {
        padding-top: 10px;
    }
}

.logo {
    margin-left: left;
    float: left;
    width: 100px;
}

h3 {
    font-family: "Galano Grotesque";
    background-image: url('./images/kainos-Teams-3.jpg');
}

a {
    font-family: "Galano Grotesque";
    color: rgb(40, 53, 131);
    font-size: 1.rem;
}

.table {
    border: 2px solid rgb(0, 70, 49);
    font-family: "Galano Grotesque";
    background-color: #f2f2f2;
    padding: 20px 10px;
}

.table :hover {
    background-color: #ffffff;
    color: rgb(40, 53, 131);
}