/* Main navbar styling */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    font-family: "Galano Grotesque";
    color: rgb(87, 87, 86);
    border: 2px solid rgb(40, 53, 131);
}

.navbar a:hover {
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 5px;
}

.navbar .logo {
    font-size: 1.5em;
}

.navbar-header {
    display: flex;
    padding-left: 50vw;
}

.navbar-header a {
    margin-left: 1rem;
}

.login-header {
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

body {
    font-family: "Galano Grotesque";
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: rgb(80, 93, 164);
    display: flex;
    flex-direction: column;
    
}

body :hover {
    text-decoration: none;
}

.home-container-fluid {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.home-container-fluid :hover{
    text-decoration: none;
}

.card-img-top {
    width: 100%;
}

.background-div form {
    /* position: relative; */
    z-index: 1;
}


.footer-div {
    background-color: rgb(40, 53, 131);
    font-family: "Galano Grotesque";
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 10;
}

.Belfast-contact,
.Gdansk-contact,
.Birmingham-contact,
.Derry-contact {
    display: inline-block;
}

.Belfast-contact {
    padding-left: 50px;
    padding-right: 150px;
    float: left;
}

.Derry-contact {
    padding-right: 150px;
    padding-left: 50px;
    float: left;
}

.Birmingham-contact {
    padding-left: 150px;
    padding-right: 50px;
    float: right;
}

.Gdansk-contact {
    padding-left: 150px;
    padding-right: 50px;
    float: right;
}

.footer-title {
    padding-top: 40px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-header {
        flex-direction: column;
    }

    .navbar-header a {
        margin-left: 0;
        margin-top: 10px;
    }

    .container-fluid {
        flex-direction: column;
        align-items: flex-start;
    }
}

.logo {
    margin-left: left;
    float: left;
    width: 100px;
}

.we-write-our-story {
    font-family: "Galano Grotesque";
    margin-top: 20px;
    margin-bottom: 400px;
    margin-left: 20px;
}

a {
    font-family: "Galano Grotesque";
    color: rgb(40, 53, 131);
    font-size: 1.5rem;
}

.table {
    border: 2px solid rgb(0, 70, 49);
    font-family: "Galano Grotesque";
    background-color: #f2f2f2;
    padding: 20px 10px;
}

.table :hover {
    background-color: #ffffff;
    color: rgb(40, 53, 131);
}